<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Ticket | GSRTC</title>


    <%- include('common/links'); %>

</head>

<body>

    <%- include('common/header'); %>

    
    <div class="not_found">
        <div class="container">
            <img class="error_img"src="/img/1.png" alt="data not found">
            
            <a href="/" class="search_form_btn"> Back to Homepage</a>
        </div>
    </div>

    <%- include('common/footer'); %>

    <script src="/js/nav.js"></script>


</body>

</html>