<div class="header">
    <div class="container">
        <i class="fa-solid fa-bars nav_box"></i>
        <nav>
            <div class="nav_close">
                <i class='fa fa-close '></i>
            </div>
            <a href="#"><i class="fa-solid fa-circle-user"></i>Sign In/Sign Up</a>
            <a href="#"><i class="fa-solid fa-certificate"></i>COWIN Vax Certificate</a>
            <a href="/"><i class="fa-solid fa-magnifying-glass"></i>Search Buses</a>
            <a href="#"><i class="fa-solid fa-bahai"></i>Offers</a>
            <a href="#"><i class="fa-solid fa-circle-question"></i>Help</a>
            <a href="#"><i class="fa-solid fa-ticket"></i>Get Ticket Details</a>
            <a href="#"><i class="fa-solid fa-ban"></i>Cancel Tickets</a>
            <a href="#"><i class="fa-solid fa-rotate-left"></i>Reschedule Ticket</a>
        </nav>
        <div class="head_logo">
            <img src="/img/logo.png" alt="GSRTC">
        </div>
        <!-- <i class="fa-solid fa-user login_ico"></i> -->
    </div>
</div>
